.App
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ccc;
}

.main-header
{
  background-color: blue;
  color: white;
  height: 100px;
}

.song-list
{
  list-style-type: none;
}

.song-list li
{
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 5px;
  width: 50%;
}